.backgroundGradient{
  width: 100vw;
  height: calc(100vh - 80px);
  /* background-color: linear-gradient; */
}
.mainPageFlexbox{
  /* adding a flex box so all children elements will be centred*/
  display: flex;
  align-items: center; /* Centers vertically */
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 80px);
}

.backgroundImageDiv{
  position: relative;
  width: 100vw;
  height: calc(100vh - 80px);
  z-index: -1;
  overflow: hidden;
}

.mainPageReposition{
  position: absolute;
  top:42%;
}
.mainPageButtonContainer{
  height:100px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

.mainPageButton{
  background-color: transparent;
  border: none;
}

.mainButtonImage{
  height:4vw;
  min-height: 50px;
  padding: 2px;
}

.mainButtonImage:hover{
  transform: scale(1.05);
  cursor: pointer;
  transition: 0.5s ease;
  filter: brightness(1.2);
  transition: filter 0.3s ease-in-out;
}

.hoverTextDiv{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2vw;
  height: 200px;

}

.hoverText{
  width: 80%;
  font-family: 'Tw Italic';
  font-size: 22px;
  color: #dbdbff;
}

.backgroundImageL{
  position: absolute;
  width: auto;
  height:100%;
  float:left;
  opacity: 0.4;
  transition: 0.5s ease-in;
}
.backgroundImageLBright{
  position: absolute;
  width: auto;
  height:100%;
  float:left;
  opacity: 1;
  transition: 0.5s ease-in;
}

.backgroundImageR{
  width: auto;
  height:100%;
  float:right;
  opacity: 0.4;
  transition: 0.5s ease-in;
}
.backgroundImageRBright{
  width: auto;
  height:100%;
  float:right;
  opacity: 1;
  transition: 0.5s ease-in;
}
