@font-face {
  font-family: 'Tw Cen MT Condensed Extra Bold';
  src: url('src/assets/Fonts/Tw.ttf') format('truetype');
} 

@font-face {
  font-family: 'Tw Italic';
  src: url('src/assets/Fonts/TwItalic.ttf') format('truetype');
} 

.backgroundGradient{
  width: 100vw;
  height: calc(100vh - 80px);
  /* background-color: linear-gradient; */
}
.mainPageFlexbox{
  /* adding a flex box so all children elements will be centred*/
  display: flex;
  align-items: center; /* Centers vertically */
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 80px);
}

.backgroundImageDiv{
  /* position: relative; */
  width: 100vw;
  height: calc(100vh - 80px);
  z-index: -1;
  overflow: hidden;
}

.mainPageReposition{
  position: absolute;
  top:42%;
}
.mainPageButtonContainer{
  height:100px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

.mainPageButton{
  background-color: transparent;
  border: none;
}

.mainButtonImage{
  height:4vw;
  min-height: 50px;
  padding: 2px;
}

.mainButtonImage:hover{
  transform: scale(1.05);
  cursor: pointer;
  transition: 0.5s ease;
  filter: brightness(1.2);
  transition: filter 0.3s ease-in-out;
}

.hoverTextDiv{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2vw;
  height: 200px;

}

.hoverText{
  width: 80%;
  font-family: 'Tw Italic';
  font-size: 22px;
  color: #dbdbff;
}

.backgroundImageL{
  position: fixed;
  width: auto;
  height:100%;
  left:0;
  opacity: 0.4;
  transition: 0.5s ease-in;
}
.backgroundImageLBright{
  position: fixed;
  width: auto;
  height:100%;
  left:0;
  opacity: 1;
  transition: 0.5s ease-in;
}

.backgroundImageR{
  position: fixed;
  width: auto;
  height:100%;
  right:0;
  opacity: 0.4;
  transition: 0.5s ease-in;
}
.backgroundImageRBright{
  position: fixed;
  width: auto;
  height:100%;
  right:0;
  opacity: 1;
  transition: 0.5s ease-in;
}

.sparkle2D{
  position: fixed;
  left:50%;
  top:40%;
  transform: translate(-50%, -50%);
  width:680px;
  z-index: 10;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.sparkle3D{
  position: fixed;
  left:50%;
  top:52%;
  transform: translate(-50%, -50%);
  width:780px;
  z-index: 10;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.sparkle3DDim{
  opacity: 0;
  width:100px;
  z-index: 10;
  position: fixed;
  left:50%;
  top:54%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
}

.sparkle2DDim{
  opacity: 0;
  width:100px;
  transition: 0.5s ease-in-out;
  z-index: 10;
  position: fixed;
  left:50%;
  top:40%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1800px){
  .sparkle2D{top:41%; width: 610px;}
  .sparkle3D{top:53%; width: 700px;}
}

@media only screen and (max-width: 1600px) {
  .backgroundImageL, .backgroundImageLBright{left:-100px; }
  .backgroundImageR, .backgroundImageRBright{right:-100px;}

  .sparkle2D{top:41%; width: 570px;}
  .sparkle3D{top:52%; width: 650px;}
  }

  @media only screen and (max-width: 1450px) {
    .sparkle2D{   top:42%; width: 520px;}
    .sparkle3D{  top: 53%; width: 590px;}
  }

@media only screen and (max-width: 1350px) {
    .backgroundImageL, .backgroundImageLBright{left:-150px;}
    .backgroundImageR, .backgroundImageRBright{right:-150px;}
    .sparkle2D{   top:42%; width: 500px;}
    .sparkle3D{  top:53%; width: 570px;}
    }

@media only screen and (max-width: 1200px) {
    .backgroundImageL, .backgroundImageLBright{left:-200px;}
    .backgroundImageR, .backgroundImageRBright{right:-200px;}
    .sparkle2D{   top:42%; width: 450px;}
    .sparkle3D{  top:53%; width: 530px;}
    }

@media only screen and (max-width: 1000px) {
    .mobileFlexBox{
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100vw;
      height:90vh;
      justify-content: center;
      align-items: center;
    }

    .mobileLink{
      width: 100%;
      height:100%;
      text-decoration: none;
    }

    .mobileMainButtons2D,.mobileMainButtons3D{
      position: relative;
      margin:10px;
      width:95%;
      height:95%;
      /* border: solid rgba(236, 224, 255, 0.7) 1.5px; */
    }

    .mobileMainButtons2D{
      background: linear-gradient(rgba(15, 5, 68, 0.9), rgba(15, 5, 68, 0.5)), /* Gradient layer */
      url('../../Images/Mobile2DCover.png'); /* Image layer */
      background-position: center center; /* Centers the image */
      background-size: cover; /* Adjust as necessary */
      background-blend-mode: multiply; /* Optional: blend mode */
    }

    .mobileMainButtons3D{
      background: linear-gradient(rgba(46, 5, 68, 0.9), rgba(46, 5, 68, 0.5)), /* Gradient layer */
      url('../../Images/Mobile3DCover.png'); /* Image layer */
      background-position: center center; /* Centers the image */
      background-size: cover; /* Adjust as necessary */
      background-blend-mode: multiply; /* Optional: blend mode */
    }
    
    .mobileButtonsTextDiv{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .mobileButtonsTitle{
      font-size: 65px;
      color:#aaafff;
      text-decoration: none;
      margin:0;
      padding:0;
    }

    .mobileButtonsDescription{
      margin:0;
      padding:0;
      font-family: 'Tw Italic';
      color: #dbdbff;
      width: 75%;
      font-size: 20px;
    }
  } 

  @media only screen and (max-width: 333px) {
    .mobileButtonsTitle{
      font-size: 40px;
    }
  } 