@font-face {
  font-family: 'Tw Cen MT Condensed Extra Bold';
  src: url('src/assets/Fonts/Tw.ttf') format('truetype');
} 

.backgroundGradient{
  width: 100vw;
  height: calc(100vh - 80px);
  /* background-color: linear-gradient; */
}
.mainPageFlexbox{
  /* adding a flex box so all children elements will be centred*/
  display: flex;
  align-items: center; /* Centers vertically */
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 80px);
}

.backgroundImageDiv{
  /* position: relative; */
  width: 100vw;
  height: calc(100vh - 80px);
  z-index: -1;
  overflow: hidden;
}

.mainPageReposition{
  position: absolute;
  top:42%;
}
.mainPageButtonContainer{
  height:100px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

.mainPageButton{
  background-color: transparent;
  border: none;
}

.mainButtonImage{
  height:4vw;
  min-height: 50px;
  padding: 2px;
}

.mainButtonImage:hover{
  transform: scale(1.05);
  cursor: pointer;
  transition: 0.5s ease;
  filter: brightness(1.2);
  transition: filter 0.3s ease-in-out;
}

.hoverTextDiv{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2vw;
  height: 200px;

}

.hoverText{
  width: 80%;
  font-family: 'Tw Italic';
  font-size: 22px;
  color: #dbdbff;
}

.backgroundImageL{
  position: fixed;
  width: auto;
  height:100%;
  left:0;
  opacity: 0.4;
  transition: 0.5s ease-in;
}
.backgroundImageLBright{
  position: fixed;
  width: auto;
  height:100%;
  left:0;
  opacity: 1;
  transition: 0.5s ease-in;
}

.backgroundImageR{
  position: fixed;
  width: auto;
  height:100%;
  right:0;
  opacity: 0.4;
  transition: 0.5s ease-in;
}
.backgroundImageRBright{
  position: fixed;
  width: auto;
  height:100%;
  right:0;
  opacity: 1;
  transition: 0.5s ease-in;
}

@media only screen and (max-width: 1000px) {
  .backgroundImageL{
    left:-100px;
  }
  .backgroundImageLBright{
    left:-100px;
  }
  .backgroundImageR{
    right:-100px;
  }
  .backgroundImageRBright{
    right:-100px;
  }
  }


  @media only screen and (max-width: 480px) {
    .mobileFlexBox{
      position: relative;
      display: flex;
      flex-direction: column;
      width: 480px;
      height:100%;
      justify-content: center;
      align-items: center;
    }

    .mobileFrontImage{
      max-width:10%;
    }
  } 