@font-face {
    font-family: 'Tw Italic';
    src: url('src/assets/Fonts/TwItalic.ttf') format('truetype');
  } 

.mainFlexBox{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    left:50%;
}

.galleryDisplayDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width:50%;
    height: auto;
}

.galleryDisplayImages{
    margin-top: 10px;
    width:48%;
    height: auto;
    border-radius: 2%;
}

.galleryDisplayImages:hover{
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: 0 0 0 2px #ffffffdc;
    transition: 0.5s ease;
}

.heroDisplayDiv{
    max-width:48.8%;
    height: auto;
}

.heroDisplayImage{
    margin-top: 10px;
    width: 100%;
    height:auto;
    border-radius: 2%;
}

.modalImageContainer{
    position: fixed;
    height:100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(27, 27, 27, 0.9);

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */
 }

 .modalImageFlex{
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */
 }

.modalImageClose{
    position:fixed;
    height:40px;
    right:30px;
    top:20px;
    z-index:10;
 }

.modalImageClose:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.3s ease;
}

.modalImage{
    height:70vh;
    z-index: 2;
}

.modalImageText{
    position: relative;
    font-family: 'Tw Italic';
    color: white;
    z-index: 3;
    font-size: 1.5em;
}

.modalImageNumber{
    position: relative;
    font-family: 'Tw Italic';
    color: white;
    z-index: 3;
}

.modalImagePreview{
    margin-top:5px;
    display:flex;
    width:100%;
    height:auto;
    justify-content: center;
}

.modalImagePreviewImages{
    bottom:0;
    height:80px;
    margin:3px;
    box-shadow: 0 0 0 2px #ffffffdc;
    transition: 0.4s;
}

.modalImagePreviewImagesDARK{
    bottom:0;
    height:70px;
    margin:3px;
    filter:brightness(0.3);
    transition: 0.4s;
}

.arrowsContainer{
    position:fixed;
    height:70px;
    width:100vw;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.leftArrowImage{
    position: fixed;
    left:5%;
    height: 60px;
}

.rightArrowImage{
    position: fixed;
    right:5%;
    height:60px;
}

.leftArrowImage:hover,.rightArrowImage:hover{
    transform: scale(1.15);
    cursor: pointer;
    transition: 0.5s ease;
}

@media only screen and (max-width: 480px) {
    .galleryDisplayDiv{
        max-width:95%;
    }
    .heroDisplayDiv{
        max-width: 93%;
    }
    .galleryDisplayImages{
        margin-top: 5px;
        width:48%;
        height: auto;
        border-radius: 2%;
    }
}