@font-face {
    font-family: 'Tw Italic';
    src: url('src/assets/Fonts/TwItalic.ttf') format('truetype');
  } 
  
.navBarFlexBox{
    display: flex;
    background-color: #18145b;
}

.navBarLeftButton{
    display: flex;
    height:80px;
    width: 80px;
    /* background-color: aqua; */

    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}

.navBarLeftImage{
    width: 40px;
    height: 40px;
}

.navBarLeftImage:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.5s ease;
}

.navBarDiv{
    width:100%;
    color:#ffffff;
    height: 80px;
    display: flex;
    top: 0;
    margin: 0;
    align-items: center;
    justify-content: center; /* Horizontally center */
}



.NavBarTextFrontPage{
    margin-left: -80px; /* minusing left imagebox so it's still centred */
    font-size: 40px;
}
.NavBarTextFrontPage:hover{
    cursor: default;
}

.buttonNavbar{
    color: #ffffff;
    background-color: transparent;
    border: none;
    font-family: 'Tw Italic';
    font-size: 25px;
}

.buttonNavbar:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s ease;
}

.galleryOptionsDiv{
    width:50vw;
    display: flex;
    justify-content: space-around;
}

.selectHighlight{
    color: #aaaaff;
    text-decoration: underline;
    text-underline-offset: 5px;
    background-color: transparent;
    border: none;
    font-family: 'Tw Italic';
    font-size: 25px;
}

@media only screen and (max-width: 1000px) {
    .navBarDiv{
        height: 60px;
        width: 90vw;
        display:flex;
        flex-direction: row;
        justify-content: center; /* Centers horizontally */
        align-items: center; /* Centers vertically */
        /* background-color: rgb(15, 66, 3); */
    }
    
    .navBarFlexBox{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .navBarLeftButton{
        margin-left: 15px;
        display: flex;
        height:30px;
        width: 30px;
    
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center; /* Centers vertically */
    
    }
    
    .navBarLeftImage{
        width: 30px;
        height: 30px;
    }

    .NavBarTextFrontPage{
        margin-left: -20px; 
        font-size: 25px;
    }

    .galleryOptionsDiv{
        width:90%;
        justify-content: space-evenly;
    }   
    
    .selectHighlight, .buttonNavbar{
        font-size: 25px;
    }
      }

@media only screen and (max-width: 520px) {

    .selectHighlight, .buttonNavbar{
        font-size: 20px;
    }
      }