@font-face {
  font-family: 'Tw Cen MT Condensed Extra Bold';
  src: url('src/assets/Fonts/Tw.ttf') format('truetype');
} 

@font-face {
  font-family: 'Gabriola';
  src: url('src/assets/Fonts/Gabriola.ttf') format('truetype');
} 

@font-face {
  font-family: 'Tw Italic';
  src: url('src/assets/Fonts/TwItalic.ttf') format('truetype');
} 

:root {
  font-family: 'Tw Cen MT Condensed Extra Bold', sans-serif;
  color: #aaaaff;
  height: 100%;
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 5em;
  line-height: 1.1;
  text-align: center;
  margin: auto; /* Added to center horizontally */
  padding: 20px;
}

