@font-face {
  font-family: 'Tw Cen MT Condensed Extra Bold';
  src: url('src/assets/Tw.ttf') format('truetype');
} 
:root {
  font-family: 'Tw Cen MT Condensed Extra Bold', sans-serif;
  color: #FD498B;
  background-color: #070723;
  margin:0;
}

h1 {
  font-size: 5em;
  line-height: 1.1;
  text-align: center;
  margin: auto; /* Added to center horizontally */
  padding: 20px;
}

.buttonContainer{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 75vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  background-color: #02809000;
  margin:0px;
  transition: text-decoration 0.25s;
  text-decoration: #f3f3ff45;
  }

button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #f3f3ff;
  transition: text-decoration-color 0.8s ease;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 1em;
}

.footerElement{
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

button .firstWord{
color:#6464ff;
font-size: 4vw;
}

button .restOfText{
  color:#aaaaff;
  font-size: 4vw;
}