@font-face {
    font-family: 'Tw Italic';
    src: url('src/assets/Fonts/TwItalic.ttf') format('truetype');
  } 

.mainPageColor{
  background-image: url('./assets/Images/2DCover.png');
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: overlay;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
    height: 100vh;
    width: 100vw;
}
.pageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

div .frontPageContainer {
  padding-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width:60vw;
    flex-wrap: wrap;
  }
  
  .frontPageSelection {
    height: 4vw;
    margin:0.5vw;
    transition: height 0.5s ease;
  }
  
  .frontPageSelection:hover{
    transform: scale(1.1);
    filter:brightness(1.2);
    transition: 0.5s ease;
 
  }

  div.hoverText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Tw Italic';
    font-size: 22px;
    text-align: center;
    color: #dbdbff;
    margin: 30px;
  }

@media (max-width: 1000px) {
    .frontPageSelection {
        height: 50px;
      }
      div.hoverText{
        font-size:18px;
      }
}